In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

README.md  Untitled.ipynb  sample_submission.csv  test.csv  train.csv

## Load data

In [30]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Feature Engineering

In [31]:
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [32]:
#Number of unique values per feature
for column in train.columns:
    print(column + ":" + str(len(train[column].unique())))

id:300000
bin_0:2
bin_1:2
bin_2:2
bin_3:2
bin_4:2
nom_0:3
nom_1:6
nom_2:6
nom_3:6
nom_4:4
nom_5:222
nom_6:522
nom_7:1220
nom_8:2215
nom_9:11981
ord_0:3
ord_1:5
ord_2:6
ord_3:15
ord_4:26
ord_5:192
day:7
month:12
target:2

In [33]:
mapping_bins34 = {'T' : 1, 'F' : 0, 'Y' : 1, 'N' : 0}

train['bin_3'] = train['bin_3'].map(mapping_bins34)
test['bin_3'] = test['bin_3'].map(mapping_bins34)

train['bin_4'] = train['bin_4'].map(mapping_bins34)
test['bin_4'] = test['bin_4'].map(mapping_bins34)

In [34]:
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,1,1,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0